html,
body {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  margin: 0;
  color: #c10016;
}

@page {
  size: 210mm 297mm;
  margin: 10mm;
}

.grid {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  page-break-after: always;
}

.card {
  border: 1px dashed grey;
  padding: 5mm;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  height: 65mm;
  max-height: 65mm;
}

.card-back {
  border: 0;
}

.card-back.full-ink {
  color: white;
  background-color: #c10016;
}

.card-back-content {
  font-size: 14pt;
}

.card-type {
  font-size: 14pt;
}

.card-content {
  font-size: 12pt;
}

.card-watermark {
  font-size: 6pt;
}

.page {
  page-break-after: always;
}
